<div class="jumbotron">
<center><h1>Welcome to Arcade!</h1></center>

<center>
<p>
<% if user_signed_in? %>
  <%= link_to 'Account Console', user_path(@user) %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
</p>
</div>
</center>
