<div class="footer navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav" float:none>
      <center>
      <li> Created by Adam Andrewjeski,
       Copyright © 2014 Arcade //
       About Me </li>
      </center>
    </ul>
  </div>
</div>
